body,h1,span,header,div{
    margin: 0;
    padding: 0;
}
h1, h3, h4, p {
    font-family: -apple-system,Helvetica,sans-serif;
    text-align: center;
}

.header-principal{
    background-color: #8CD9F6;
    width: 28%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    color: #1D7B9F;
}

.header-2 {
    background-color:  #b190ff;
    width: 18%;
    height: 40px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    color: #7f13a3;
}

.header-3 {
    background-color:  #b190ff;
    width: 18%;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
    color: #7f13a3;
}

.data {
    background-color: #F077DD;
    width: 6%;
    height: 70px;
    margin-left: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
    color: #e113b5;
}